<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Spiros Liaskonis</span>, a computer engineering student focused on developing innovative solutions and learning new technologies.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:spiros1239@gmail.com" target="_blank" class="highlight-link">spiros1239@gmail.com</a>
    </span>
  </h3>
</header>
